<!-- src/app/asistencia/asistencia.component.html -->
<div class="container">
  <div class="header">
    <button class="close-button" (click)="close()">×</button>
    <h1>HERRAMIENTAS DE ASISTENCIA</h1>
    <p>
      Vuestra <span class="highlight">cuenta de Tienda</span> está vinculada a
      todas las compras y servicios de nuestra tienda, incluyendo la gestión de
      garantías.
    </p>
  </div>
  <div class="sections">
    <div class="section">
      <h2>ADMINISTRACIÓN DE LA CUENTA</h2>
      <div class="links">
        <a href="#">Recupera tu cuenta <span class="arrow">➔</span></a>
        <a href="#"
          >Nombre de usuario o contraseña olvidados
          <span class="arrow">➔</span></a
        >
        <a href="#"
          >Cambiar dirección de correo electrónico
          <span class="arrow">➔</span></a
        >
        <a href="#">Gestión de suscripciones <span class="arrow">➔</span></a>
      </div>
    </div>
    <div class="section">
      <h2>PAGOS</h2>
      <div class="links">
        <a href="#">Política de reembolsos <span class="arrow">➔</span></a>
        <a href="#">Transacciones devueltas <span class="arrow">➔</span></a>
        <a href="#">Historial de compra <span class="arrow">➔</span></a>
      </div>
    </div>
  </div>
</div>
