<div class="product-list">
  <div *ngFor="let producto of productos" class="product-item">
    <img
      [src]="'assets/prod' + producto.id + '.webp'"
      [alt]="producto.nombre"
    />
    <h2>{{ producto.nombre }}</h2>
    <p
      class="price"
      [ngClass]="{
        expensive: producto.precio > 50,
        cheap: producto.precio <= 50
      }"
    >
      EUR {{ producto.precio | number : "1.2-2" }}
    </p>
    <p class="rating">{{ getRatingStars(producto.valoracionMedia) }}</p>
    <p class="description">{{ producto.descripcion }}</p>
    <div class="button-group">
      <button
        *ngIf="isAdmin"
        class="modify-button"
        (click)="openModifyModal(producto)"
      >
        Modificar
      </button>
      <button class="cart-button" (click)="addToCart(producto)">
        Añadir al carrito
      </button>
      <!-- Botón de valorar visible solo si el usuario ha iniciado sesión -->
      <button
        *ngIf="isLoggedIn"
        class="rate-button"
        (click)="openRateModal(producto)"
      >
        Valorar
      </button>
    </div>
  </div>
</div>

<ng-template #modifyProductModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modificar Producto</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modifyProductForm" (ngSubmit)="onSubmit(modal)">
      <div class="form-group">
        <label for="id">ID</label>
        <input
          type="text"
          id="id"
          formControlName="id"
          class="form-control"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input
          type="text"
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input
          type="text"
          id="precio"
          formControlName="precio"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="valoracion">Valoración</label>
        <input
          type="text"
          id="valoracion"
          formControlName="valoracion"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</ng-template>
