<main>
  <div class="product-list">
    <div class="product-item" *ngFor="let producto of productos">
      <img
        [src]="'assets/prod' + producto.id + '.webp'"
        [alt]="producto.nombre"
      />
      <h2>{{ producto.nombre }}</h2>
      <p
        class="price"
        [ngClass]="{
          'high-price': producto.precio > 100,
          'low-price': producto.precio <= 100
        }"
      >
        {{ producto.precio | currency : "EUR" }}
      </p>
      <p class="rating">{{ producto.valoracionMedia }} ★★★★★</p>
      <p class="description">{{ producto.descripcion }}</p>
      <button class="modify-button" (click)="openModifyModal(producto)">
        Modificar
      </button>
      <button class="add-to-cart-button">Añadir al carrito</button>
    </div>
  </div>
</main>

<!-- Template del Modal -->
<ng-template #modifyProductModal let-data="data">
  <h2 mat-dialog-title>Modificar Producto</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input
        matInput
        [value]="data.producto.id"
        readonly
        class="readonly-field"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.producto.nombre" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="data.producto.descripcion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput [(ngModel)]="data.producto.precio" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <input matInput [(ngModel)]="data.producto.categoria" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valoración Media</mat-label>
      <input
        matInput
        [(ngModel)]="data.producto.valoracionMedia"
        type="number"
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-button (click)="saveChanges(data.producto)">Guardar</button>
  </mat-dialog-actions>
</ng-template>
