<header>
  <div class="top-bar">
    <div class="left-links">
      <a href="#">SEARCH</a>
      <a href="#">CLIENTES</a>
    </div>
    <div class="right-links">
      <span>
        Calidad garantizada | Plazo de 60 días para devolución y reembolso |
        Valoraciones verificadas
      </span>
      <a href="#">ES</a>
      <ng-template #loginRegister
        ><a
          href="#"
          *ngIf="!isLoggedIn"
          (click)="openLoginDialog()"
          style="cursor: pointer"
          >Iniciar sesión</a
        >
        <a
          href="#"
          *ngIf="!isLoggedIn"
          (click)="openRegisterDialog()"
          style="cursor: pointer"
          >Registrarse</a
        ></ng-template
      >

      <!-- <span *ngIf="isLoggedIn" class="user-icon">👤</span> -->
      <!-- Icono de usuario cuando está logueado -->
      <ng-container *ngIf="isLoggedIn; else loginRegister">
        <span class="user-initials">{{ userInitials }}</span>
        <a (click)="logout()" style="cursor: pointer">Cerrar sesión</a>
      </ng-container>
    </div>
  </div>
  <nav>
    <img src="assets/logoMauSearch.webp" alt="MauSearch Logo" class="logo" />
    <ul>
      <li><a routerLink="#">Descubre Neo</a></li>
      <li><a routerLink="#">Productos</a></li>
      <li><a routerLink="#">Marketplace</a></li>
      <li><a routerLink="#">Configuraciones</a></li>
      <li>
        <a (click)="openAsistenciaDialog()" style="cursor: pointer"
          >Asistencia</a
        >
      </li>
      <!-- Llamada al método -->
      <li><a routerLink="#">Valoraciones</a></li>
      <li>
        <a routerLink="#"
          ><img src="assets/!.webp" alt="Icon" class="cart-icon"
        /></a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="hero">
    <div class="hero-content">
      <h1>EL BUSCADOR DE ÚLTIMA GENERACIÓN</h1>
      <p>
        Desde hace más de 10 años hemos tenido una variedad inmensa de productos
        electrónicos de los cuales cada uno tenía más variedades. Con este
        buscador, se acabó el perder dinero en los peores
      </p>
      <div class="hero-buttons">
        <button class="primary-button">Descubre</button>
        <button class="secondary-button" (click)="openPaqueteEjemplo()">
          Haz un paquete y ahorra
        </button>
      </div>
    </div>
    <div class="hero-image">
      <img src="assets/icono.webp" alt="Teleprompter" />
    </div>
  </section>
  <section class="products">
    <div
      class="product"
      routerLink="/prodhub"
      [ngClass]="{ active: selectedButton === 'prodhub' }"
      (click)="selectButton('prodhub')"
    >
      <img src="assets/electronica.jpeg" alt="Productos" />
      <div class="product-info">
        <h2>HUB DE PRODUCTOS</h2>
        <p>Los mejores productos de las mejores distribuidoras</p>
        <a routerLink="/prodhub">Descubre ></a>
      </div>
    </div>
    <div
      class="product"
      routerLink="/valoracionescli"
      [ngClass]="{ active: selectedButton === 'valoracionescli' }"
      (click)="selectButton('valoracionescli')"
    >
      <img src="assets/clientes.jpeg" alt="Clientes" />
      <div class="product-info">
        <h2>VALORACIONES DE CLIENTES</h2>
        <p>Las más relevantes de entre lo más relevante</p>
        <a routerLink="/valoracionescli">Descubre ></a>
      </div>
    </div>
  </section>
  <a
    href="#"
    class="btn-scroll-top btn btn-primary btn-lg"
    (click)="scrollToTop()"
  >
    <img src="assets/flecha.png" alt="Subir" class="arrowUp" />
  </a>
  <!-- <router-outlet></router-outlet> -->
</main>
