<!-- Futura nav Bar pero lo coloco así para ser un diseño orientativo -->
<div class="bodyClass">
  <div class="buttons">
    <a
      class="btn btn-warning btn-lg"
      routerLink="/prodhub"
      [ngClass]="{ active: selectedButton === 'prodhub' }"
      (click)="selectButton('prodhub')"
      >HUB de Productos</a
    >
    <a
      class="btn btn-warning btn-lg"
      routerLink="/valoracionescli"
      [ngClass]="{ active: selectedButton === 'valoracionescli' }"
      (click)="selectButton('valoracionescli')"
      >Valoraciones de Clientes</a
    >
  </div>
  <a
    href="#"
    class="btn-scroll-top btn btn-primary btn-lg"
    (click)="scrollToTop()"
  >
    <img src="assets/flecha.png" alt="Subir" class="arrowUp" />
  </a>
</div>
<router-outlet></router-outlet>
