<div class="container mt-3">
  <main class="">
    <div id="informativo" class="">
      <h1 class="text-center border b-2 border-dark">Ejercicio de Prueba</h1>
    </div>
    <div class="row">
      <div class="col-md-6 bg-success">
        <div class="text-center">
          <button type="button" class="btn btn-primary" routerLink="/prodhub">
            HUB DE PRODUCTOS
          </button>
        </div>
      </div>
      <div class="col-md-6 bg-warning">
        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/valoracionescli"
          >
            Valoraciones de Clientes
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
